:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

    --font1: 'Open Sans', sans-serif;
    --font2: 'Poppins', sans-serif;

    --padding-container: 60px 0;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font1);
}

.header{
    background-color: var(--violet);
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 400px;

}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    padding: var(--padding-container);
    position: relative;
}

.nav{
    --padding-container: 30px 0;
}

.nav-logo{
    width: 150px;
    display: block;
}

.info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-img{
    max-width: 350px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.info-text{
    margin: 3.5em 0;
    color: #fff;
    text-align: center;
}

.info-title{
    font-size: 1.7rem;
    font-family: var(--font2);
}

.info-paragraph{
    line-height: 1.5;
    margin: 1.2em 0 1.7em;
}

.info-cta{
    display: inline-block;
    color: var(--violet);
    background-color: #fff;
    text-decoration: none;
    padding: 1em 6em;
    border-radius: 2em;
    box-shadow: 0 4px rgba(0, 0, 0, 0.5);
}

.contact{
    display: flex;
    gap: 1.5em;    
}

.info-link{
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon{
    width: 23px;
}

@media (min-width:768px){

    .header::before{
        height: 100%;
        background-image: url('../images/bg-desktop.svg');
        background-size: 100% 100%;

    }

    .info-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        --padding-container: 20px 0 60px;
    }

    .info-picture{
        flex-basis: 45%;
    }

    .info-img{
        max-width: unset;
    }

    .info-text{
        flex-basis: 50%;
        text-align: left;
    }

    .info-title{
        font-size: 2rem;
    }

    .contact{
        margin-left: auto;
    }


}